.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  align-items: center;
}

/* Style the left column (scoreboard) */
.left-column {
  flex: 1;
  margin-top: 60px;
  padding: 20px;
}

/* Style the middle column (canvas) */
.middle-column {
  flex: 2;
  /* Background color for the canvas */
  /* padding: 10px; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col {
  padding: 10px;
}

/* Style the right column (empty) */
.right-column {
  flex: 1;
}

.btnS {
  width: 70px;
  height: auto;
  background-color: rgb(92, 179, 143);

  cursor: pointer;
  color: #fff;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
}

.UpDown {
  margin: 0 auto;
  text-align: center;

  width: 70px;

  cursor: pointer;
  color: #fff;
  background: #2cb1bc;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
}

.btnStart {
  text-align: center;

  width: 60px;
  background-color: rgb(92, 179, 92);

  cursor: pointer;
  color: #fff;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
}

.btnSubmit {
  text-align: center;

  width: 75%;
  background-color: rgb(92, 179, 92);

  cursor: pointer;
  color: #fff;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
}

.disable {
  opacity: 50%;
}

.alert {
  width: 300px;
  height: 120px;
  background-color: rgb(92, 179, 92);

  border: transparent;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.alertY {
  background-color: rgb(179, 92, 92);
}

.counter {
  /* width: 100px; */
  font-size: 400%;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.complBTN {
  background-color: rgb(92, 179, 92);
  border: transparent;
}

.resObj {
  background-color: rgb(179, 95, 92);
}

#set {
  font-size: 40px;
}

#completed {
  font-size: 40px;
}

.btn-danger {
  width: 85px;
}

.hide {
  display: none;
}

.minimal-input {
  width: 70%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
}

.minimal-input:focus {
  border-color: #0078d4; /* Change the border color on focus */
}
